<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login_process</servlet-name>
  	<display-name>Login_process</display-name>
  	<description></description>
  	<servlet-class>Login_process</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Signup_process</servlet-name>
  	<display-name>Signup_process</display-name>
  	<description></description>
  	<servlet-class>Signup_process</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>update</servlet-name>
  	<display-name>update</display-name>
  	<description></description>
  	<servlet-class>update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>eventMst</servlet-name>
  	<display-name>eventMst</display-name>
  	<description></description>
  	<servlet-class>eventMst</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>upload</servlet-name>
  	<display-name>upload</display-name>
  	<description></description>
  	<servlet-class>upload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fetch</servlet-name>
  	<display-name>fetch</display-name>
  	<description></description>
  	<servlet-class>fetch</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>notiServlet</servlet-name>
  	<display-name>notiServlet</display-name>
  	<description></description>
  	<servlet-class>notiServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentServlet</servlet-name>
  	<display-name>StudentServlet</display-name>
  	<description></description>
  	<servlet-class>StudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudyMaterialServlet</servlet-name>
  	<display-name>StudyMaterialServlet</display-name>
  	<description></description>
  	<servlet-class>StudyMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login_process</servlet-name>
  	<url-pattern>/Login_process</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Signup_process</servlet-name>
  	<url-pattern>/Signup_process</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>update</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>eventMst</servlet-name>
  	<url-pattern>/eventMst</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>upload</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fetch</servlet-name>
  	<url-pattern>/fetch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>notiServlet</servlet-name>
  	<url-pattern>/notiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentServlet</servlet-name>
  	<url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudyMaterialServlet</servlet-name>
  	<url-pattern>/StudyMaterialServlet</url-pattern>
  </servlet-mapping>
</web-app>
